@import 'style.css';

.main_header {
    background-color: rgb(255, 255, 255);
    padding: 10px;
}

.main_about {
    max-width: 1120px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(95, 20, 105, 0.836);
    border-radius: 18px;
    color: rgb(255, 254, 254);
    padding: 20px;
    font-size: 18px;
    box-shadow: rgba(237, 11, 245, 0.555) 0px 5px 15px;
}

.text_m {
    font-size: 19px;

}

span.title_about {
    font-size: 24px;
    font-weight: bold;
    margin: 0px 0px 10px;
}

.first_para {
    display: flex;
}


.second_para {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
}

.second_para span {
    margin-bottom: 10px;
}

.third_para {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.third_para img {
    width: 150px;
    border-radius: 10px;
    margin-left: 20px;
}