@import 'style.css';

body.main_gallery {
    background-image: none !important;
}

main {
    width: 100%;
    padding: 20px;
    font-size: 16px;
    margin: 80px 0 0 0;
    height: unset;
    overflow: scroll;
}
.main_gallery {
    padding: 20px;
    columns: 6;
    column-gap: 20px;
    width: 100%;
}

.main_gallery img {
    width: calc((100%)) ;
    height: auto;
    border-radius: 18px;
    margin-bottom: 20px
}
.main_gallery img:hover {
    filter: drop-shadow(0 0 10px rgba(229, 23, 236, 0.623));
    opacity: .7;
}