@import "style.css";

header {
    background-color: #f8f9fa;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    display: flex;
}

.main_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    /* background-color: bisque; */
    max-width: 1120px;
    padding: 0 20px;
}
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_header .navbar img  {
    width: 50px;
    border-radius: 10px;
    margin-right: 20px;
}
/* ul.nav {

} */
ul.nav li {
    margin: 0 10px;
    font-size: 20px;
    border-bottom: 3px solid rgba(0, 0, 0, 0);
}
ul.nav li:hover {
    border-bottom: 3px solid rgb(234, 0, 255);
}

ul.nav li a:hover {
    color: rgb(255, 0, 242);
}