@import "style.css";

header {
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    position: fixed;
    top: 10px;
    z-index: 100;
    
}

ul {
    display: flex;
}

.main_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 20px;
    max-width: 1120px;
    /* margin-bottom: 20px; */
    padding: 0 10px 0 0;
}
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_header .navbar img  {
    width: 50px;
    border-radius: 10px;
    margin-right: 20px;
}
/* ul.nav {

} */
ul.nav li {
    margin: 0 10px;
    font-size: 20px;
    border-bottom: 3px solid rgba(0, 0, 0, 0);
}
ul.nav li:hover {
    border-bottom: 3px solid rgb(255, 140, 183);
}

ul.nav li a:hover {
    color: rgb(255, 140, 183);
}