@font-face {
    font-family: "Akaya Telivigala";
    src: url("fonts/Akaya_Telivigala/AkayaTelivigala-Regular.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: "Akaya Telivigala", system-ui;
    font-weight: 400;
    font-style: normal;
}


ul, li {
    list-style: none;
}

body {
    background-color: rgba(255, 255, 255, 0.397);
}

::-webkit-scrollbar {
    width: 0px;
}

a {
    text-decoration: none;
    color: black;
}

.active {
    display: flex !important;
}

.hidden {
    display: none !important;
}

main {
    display: flex;
    /* height: calc(100vh - 60px); */
    height: calc(100vh - 20px);
    /* height: 100vh; */
    justify-content: center;
    align-items: center;
    width: 100vw;
    flex-direction: column;
    margin-top: 30px;
}