@font-face {
    font-family: "Lato", "Tinos";
    src: url("../../../public/fonts/Lato/Lato-Black.ttf") format("woff2"),
        url("../../../public/fonts/Lato/Lato-Regular.ttf") format("woff2"),
        url("../../../public/fonts/Lato/Lato-Bold.ttf") format("woff2"),
        url("../../../public/fonts/Lato/Lato-Light.ttf") format("woff2"),
        
        url("../../../public/fonts/Tinos/Tinos-Bold.ttf") format("woff2"),
        url("../../../public/fonts/Tinos/Tinos-BoldItalic.ttf") format("woff2"),
        url("../../../public/fonts/Tinos/Tinos-Italic.ttf") format("woff2"),
        url("../../../public/fonts/Tinos/Tinos-Regular.ttf") format("woff2"),

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: "Lato-Regular", sans-serif;
    font-weight: 400;
}

ul, li {
    list-style: none;
}

body {
    background-color: rgba(255, 255, 255, 0.397);
}

::-webkit-scrollbar {
    width: 0px;
}

a {
    text-decoration: none;
    color: black;
}

.active {
    display: flex !important;
}

.hidden {
    display: none !important;
}

main {
    display: flex;
    /* height: calc(100vh - 60px); */
    height: calc(100vh - 20px);
    /* height: 100vh; */
    justify-content: center;
    align-items: center;
    width: 100vw;
    flex-direction: column;
    margin-top: 20px;
}